// My main Sass file.
$crimson: #8d230F;
$forest: #1e434c;
$rust: #9b4f0f;
$gold: #c99e10;
$mdc-theme-primary: $crimson;
$mdc-theme-secondary: $gold;
$mdc-theme-background: #fff;
@import "material-components-web/material-components-web";
//lang-nav
//vars
$fg:$gold;
$bg:$forest;
$pi:3.14;
//config
$menu-items:4;
$open-distance:60px;
$opening-angle:$pi*2;
%goo {
  filter: url('#shadowed-goo'); // debug 
  //background:rgba(255,0,0,0.2);
}

%ball {
  background: $fg;
  border-radius: 100%;
  width: 51px;
  height: 51px; //margin-left:-40px;
  position: absolute;
  top: 20px;
  color: var(--mdc-theme---mdc-theme-secondary, rgba(0, 0, 0, 0.87));
  text-align: center;
  line-height: 48px;
  margin: auto;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menu-item {
  @extend %ball;
}

.lang-icon {
  position: absolute;
  margin-left: -0.72rem;
  margin-top: 0.9rem;
}


.menu {
  @extend %goo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  $width: 650px;
  $height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  width: $width;
  height: $height;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}
.menu-item-selected {
  background: $forest;
  color: $fg;
}

.menu-item {
  &:hover {
    background: $forest;
    color: $fg;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i+2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-close-icon {
  z-index: 3;
  position: absolute;
  margin-left: -0.72rem;
  margin-top: 0.94rem;
  transform: scale(0.0, 0.0);
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  .menu-close-icon {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1.0, 1.0);
  }
}

.menu-open:checked+.menu-open-button {
  .lang-icon {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.0, 0.0);
  }
}

.menu-open:checked~.menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i+2}) {
      transition-duration: 90ms+(100ms*$i);
      transform: translate3d(-$open-distance*$i, 0, 0);
    }
  }
}