// My main Sass file.
$crimson: #8d230F;
$forest: #1e434c;
$rust: #9b4f0f;
$gold: #c99e10;
$mdc-theme-primary: $crimson;
$mdc-theme-secondary: $gold;
$mdc-theme-background: #fff;


@import "material-components-web/material-components-web";