{{define "cta"}}
<div class="mdc-card">
  <section class="mdc-card__primary">
    <h2 class="mdc-card__title mdc-card__title--large">Reserveu Ara</h2>
  </section>
  <section class="mdc-card__actions mdc-card__actions--vertical">
    <i class="material-icons">call</i>
    <a class="mdc-card__action" href="tel:+34-562-867-5309">1-562-867-5309</a>
  <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
  </section>
</div>

{{end}}