<!DOCTYPE html>
<html class="mdc-typography">

{{template "head"}}

  <body>
    {{template "header"}}
  
    <h1 class="mdc-toolbar-fixed-adjust mdc-typography--headline mdc-typography-adjust-margin(headline)">Cuina Tradicional Catalana en Blanes - Costa Brava</h1>
    
    {{template "cta"}}
    
    <div class="cards">
      <div class="mdc-card element-card earth">
        <section class="mdc-card__media mdc-theme--primary-bg">
          <h2 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Earth</h2>
          <h3 class="mdc-card__subtitle mdc-theme--text-primary-on-primary">A solid decision.</h3>
        </section>
        <section class="mdc-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </section>
      </div>

      <div class="mdc-card element-card wind">
        <section class="mdc-card__media mdc-theme--primary-bg">
          <h2 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Wind</h2>
          <h3 class="mdc-card__subtitle mdc-theme--text-primary-on-primary">Stormy weather ahead.</h3>
        </section>
        <section class="mdc-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </section>
      </div>

      <div class="mdc-card element-card fire">
        <section class="mdc-card__media mdc-theme--primary-bg">
          <h2 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Fire</h2>
          <h3 class="mdc-card__subtitle mdc-theme--text-primary-on-primary">Hot-headed much?</h3>
        </section>
        <section class="mdc-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </section>
      </div>

      <div class="mdc-card element-card water">
        <section class="mdc-card__media mdc-theme--primary-bg">
          <h2 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Water</h2>
          <h3 class="mdc-card__subtitle mdc-theme--text-primary-on-primary">Go with the flow.</h3>
        </section>
        <section class="mdc-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </section>
      </div>
    </div>
    
    {{template "lang-nav"}}
  

    {{template "btf"}}

    {{template "footer"}}

  </body>
</html>
